<div class="actionButtonsHeader">
    <div class="korisniciDiv">
        <h2>KORISNICI</h2>
        <button id="logoutBtn" class="btn" (click)="logout()">Odjavi se</button>
    </div>
    <div class="button-container">
        <button class="btn edit" [disabled]="selectedUsers.length!=1" (click)="onEdit()">
        <i class="fas fa-pen"></i>
        </button>

        <button class="btn delete" [disabled]="selectedUsers.length<1" (click)="onDelete()">
        <i class="fas fa-trash"></i>
        </button>

        <div class="search-wrapper">
        <button class="btn search" id="searchBtn">
            <i class="fas fa-search"></i>
            <input type="text" id="searchInput" class="search-input" placeholder="Pretraži(ime,prezime,radno mj.)" [(ngModel)]="searchText"/>
        </button>
        </div>

        <button class="btn add" (click)="togglePopup()">
        <i class="fas fa-plus"></i>
        </button>
    </div>
</div>

<div id="filterSelect">
  <div class="roleFilterDiv">
    <select id="roleFilter" [(ngModel)]="roleFilter">
      <option value="" selected >Select Role</option>
      <option value="Owner">Owner</option>
      <option value="Administrator">Administrator</option>
      <option value="User">User</option>
    </select>
  </div>
  
  <div class="roleFilterDiv">
    <select id="roleFilter" [(ngModel)]="drzavaFilter">
      <option value="">Odaberite državu...</option>
        <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
    </select>
  </div>
</div>

<!-- DevExtreme Data Grid -->
<dx-data-grid
  id="usersGrid"
  #usersGrid
  [dataSource]="users | users: searchText:roleFilter:drzavaFilter"
  [showBorders]="true"
  [selection]="{ mode: 'multiple' }"
  [columnAutoWidth]="true"
  [rowAlternationEnabled]="true"
  (onSelectionChanged)="onSelectionChanged($event)"
  >

  <!-- Custom Template for Checkboxes -->
  <dx-check-box aria-selected="true"></dx-check-box>

  <!-- User Data Columns -->
  <dxi-column dataField="ime" caption="Ime"></dxi-column>
  <dxi-column dataField="prezime" caption="Prezime"></dxi-column>
  <dxi-column dataField="email" caption="Email"></dxi-column>
  <dxi-column dataField="telefon" caption="Telefon"></dxi-column>
  <dxi-column dataField="role" caption="Role"></dxi-column>
  <dxi-column dataField="radnoMjesto" caption="Radno Mjesto"></dxi-column>
  <dxi-column dataField="drzava" caption="Drzava"></dxi-column>
  <dxi-column dataField="grad" caption="Grad"></dxi-column>

</dx-data-grid>

<!-- Popup -->

<dx-popup
    contentTemplate="popup-content"
    [(visible)]="isPopupVisible"
    [hideOnOutsideClick]="true"
    (onHidden)="onPopupHidden($event)"
    [showTitle]="true"
    >
    <div *dxTemplate="let data of 'popup-content'">
      <div [formGroup]="userForma" class="userEditForm">
        <!-- Left Section -->
        <div class="formSection">
          <div>
            <div class="labelContainer"><label for="ime">Ime</label><section *ngIf="userForma.get('ime')?.invalid" style="color: red;">&nbsp;*</section></div>
            <input class="popupInput" type="text" id="ime" formControlName="ime" required />
          </div>
      
          <div>
            <div class="labelContainer"><label for="prezime">Prezime</label><section *ngIf="userForma.get('prezime')?.invalid" style="color: red;">&nbsp;*</section></div>
            <input class="popupInput" type="text" id="prezime" formControlName="prezime" required />
          </div>
      
          <div>
            <div class="labelContainer"><label for="spol">Spol</label><section *ngIf="userForma.get('spol')?.invalid" style="color: red;">&nbsp;*</section></div>
            <select id="spol" formControlName="spol" required>
              <option value="">Select...</option>
              <option value="muski">Muški</option>
              <option value="zenski">Ženski</option>
            </select>
          </div>
      
          <div>
            <div class="labelContainer"><label for="radnoMjesto">Radno mjesto</label><section *ngIf="userForma.get('radnoMjesto')?.invalid" style="color: red;">&nbsp;*</section></div>
            <select id="radnoMjesto" formControlName="radnoMjesto" required>
              <option value="">Select...</option>
              <option value="Programer">Programer</option>
              <option value="Pravnik">Pravnik</option>
              <option value="Elektrotehničar">Elektrotehničar</option>
              <option value="Računovođa">Računovođa</option>
            </select>
          </div>
      
          <div>
            <div class="labelContainer"><label for="biljeske">Bilješke</label></div>
            <textarea id="biljeske" formControlName="biljeske"></textarea>
          </div>
        </div>
      
        <!-- Middle Section -->
        <div id="middleSection" class="formSection">
          <div>
            <div class="labelContainer"><label for="email">Email</label><section *ngIf="userForma.get('email')?.invalid" style="color: red;">&nbsp;*</section></div>
            <input class="popupInput" type="email" id="email" formControlName="email" required placeholder="example@example.com" />
          </div>
      
          <div style="display: flex; flex-direction: column;">
            <div class="labelContainer"><label for="telefon">Telefon</label></div>
            <input class="popupInput" type="tel" id="telefon" formControlName="telefon" placeholder="+385123456789" />
          </div>
      
          <div>
            <div class="labelContainer"><label for="drzava">Država</label><section *ngIf="userForma.get('drzava')?.invalid" style="color: red;">&nbsp;*</section></div>
            <select id="drzava" formControlName="drzava">
              <option value="">Odaberite državu...</option>
              <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
            </select>
          </div>
      
          <div>
            <div class="labelContainer"><label for="grad">Grad</label><section *ngIf="userForma.get('grad')?.invalid" style="color: red;">&nbsp;*</section></div>
            <select id="grad" formControlName="grad">
              <option value="">Odaberite grad...</option>
              <option *ngFor="let town of towns | townFilter:selectedCountry" [value]="town.name">
                {{ town.name }}
              </option>
            </select>
          </div>
      
          <div>
            <div class="labelContainer"><label for="adresa">Adresa</label></div>
            <input class="popupInput" type="text" id="adresa" formControlName="adresa" />
          </div>
        </div>
      
        <!-- Right Section -->
        <div class="formSection">
          <div>
            <div class="labelContainer"><label for="korisnickoIme">Korisničko ime</label><section *ngIf="userForma.get('korisnickoIme')?.invalid" style="color: red;">&nbsp;*</section></div>
            <input class="popupInput" type="text" id="korisnickoIme" formControlName="korisnickoIme" required />
          </div>
      
          <div>
            <div class="labelContainer">
              <label for="lozinka">Lozinka</label>
            </div>
            
            <div class="password-wrapper">
              <input
                [type]="isPasswordVisible ? 'text' : 'password'"
                id="lozinka"
                formControlName="lozinka"
              />
              <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">
                <i class="fas" [ngClass]="isPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
              </button>
            </div>
            
          </div>
      
          <div style="border-bottom: 1px solid lightgray; padding-bottom: 2rem;">
            <div class="labelContainer"><label for="novaLozinka">Nova lozinka</label></div>
            <div class="password-wrapper">
              <input [type]="isNewPasswordVisible ? 'text' : 'password'" 
              id="novaLozinka" 
              formControlName="novaLozinka" />
              <button type="button" class="toggle-password" (click)="toggleNewPasswordVisibility()">
                <i class="fas" [ngClass]="isNewPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
              </button>
            </div>
          </div>
      
          <div>
            <div class="labelContainer"><label for="role">Role</label><section *ngIf="userForma.hasError('atLeastOneRoleRequired')" style="color: red;">&nbsp;*</section></div>
            <div id="role">
              <div>
                <input type="checkbox" id="administrator" formControlName="role1" value="Administrator"/>
                <label for="administrator">Administrator</label>
              </div>
              <div>
                <input type="checkbox" id="user" formControlName="role2" value="User"/>
                <label for="user">User</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      
        <div class="submitButtonDiv">
          <button id="otkaziBtn" (click)="togglePopup()">Otkaži</button>
          <button id="spremiBtn" (click)="addNewUser()">Spremi</button>
        </div>  
    </div>

    <!-- Custom Title-->
    <div *dxTemplate="let data of 'title'" style="display: flex; justify-content: space-between; align-items: center; font-size: larger;">
      <b>{{ titlePopup }}</b>
      <button (click)="isPopupVisible = false" class="customCloseButton">
        <i class="fas fa-times"></i>
      </button>
    </div>
</dx-popup>
