<div class="loginContainer">
  <div class="loginBox">
      <div>
        <form class="formGrupa" [formGroup]="loginForma" (ngSubmit)="onSubmit()">
          <div id="logoDiv">
            <img src="../../assets/SC_vertical.png" alt="logo">
          </div>
          <div id="welcomeText"><b>Welcome.</b> Please log in.</div>
          <!-- Name Input -->
          <div>
            <input id="username" type="text" formControlName="username" placeholder="Usename">
          </div>
      
          <!-- Password Input -->
          <div class="password-wrapper">
            <input id="password" [type]="isPasswordVisible ? 'text' : 'password'"  formControlName="password" placeholder="Password">
            <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">
              <i class="fas" [ngClass]="isPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
            </button>
          </div>
      
          <!-- Submit Button -->
          <button id="loginBtn" type="submit">Log in</button>
          <div class="validationCheckDiv">
            <div>Forgot password</div>
            <div>Forgot username</div>
          </div>
        </form>
      </div>
  </div>
</div>
